/* Element Selectors */
span {
    color: green;
    background-color: bisque;
}

/* Class Selector */
.intro-paragraphs {
    color: red;
    background-color: antiquewhite;
}

/* ID Selector */
#main-heading {
    font-weight: bold;
}

/* Universal Selector */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Grouping Selector */
h1, h2, .about-content {
    color: tomato;
    font-style: italic;
}

/* Descendant Selector */
.article-container p {
    text-decoration: line-through;
}

/* Pseudo Classes */
a:hover {
    font-size: 24px;
    color: aquamarine;
}

a:active {
    color: tomato;
}