/* General Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    /* background */
    background: rgb(18,41,158);
    background: linear-gradient(180deg, #030982, #000000);

    min-height: 100vh; /* viewport height */
    color: white;
    font-family: "Poppins", sans-serif;
}

/* Header */
header {
    font-size: 2rem; /* h1 size will be 1.5x bigger than default */
}

header h1 {
    font-weight: 500;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */
form input, form button {
    padding: 0.5rem; /* add 0.5x of the font size as padding */
    font-size: 2rem; /* default size x2 */
    border: none;
    background-color: white;
}

form button {
    color: #2986f7;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #2986f7;
    color: white;
}

/* todo container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

/* Buttons */
.trash-btn, .complete-btn {
    background-color: #f63c42;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background-color: #12cc3a;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/* Selector */

/* reset the stylings of the select/dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;

    color: #000000;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 13rem;
    font-size: 1rem;
    padding: 1rem;
}

.select {
    position: relative;
    margin: 1rem;
}

/* Arrow */
.select::after {
    content: "\25BC";
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 1rem;
    background-color: #2986f7;
    cursor: pointer;
    pointer-events: none;
}